.botonera{
    background: $mainColor;
    ul{
        display: flex;
        li{
            list-style: none;
            a{
                font-family: 'roboto', sans-serif;
                 color: white;
                font-size: 15px;
                 padding: 10px 15px;
                 text-align: start;
                 text-transform: uppercase;
                 &:hover{
                     color: black;
                 }

            }
        }
    }





.link:before{
    content: "";
    width: 0;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: 0;
    transition: all 0.5s;
}
.slider_left:before{
    left:0;
}
.slider_right:before{
    right:0;
}

.link:hover:before{
  width: 100%;
}}
.navg{
    background: orange;
}